<h2 class="text-center mt-4 text-white"><%= @admin.admin_name %></h2>

<div class="container">

        <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
                <div class="card-text text-left">
                
                <p>Admin Username: <%= @admin.admin_name%></p>
                <p>Email: <%= @admin.email %></p>
                </div>
                
                    <%= link_to 'Edit', edit_admin_path(@admin), class: "btn btn-outline-warning" %>

                
            </div>

            <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(@admin.created_at) %> ago, 
                edited <%= time_ago_in_words(@admin.updated_at) %> ago </small>
            </div>
        </div>
        </div>
        </div>
</div>