<h2 class="text-center mt-4 text-white">
    MEDIA COLLECTION
</h2>

<div class="row justify-content-md-center">
    <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">

            <% unless @media_collection.image_url.blank? %>
                <%= image_tag @media_collection.image_url, class: 'card-img-top' %>
            <% end %>
            <div class="card-header">
                <%= @media_collection.headline %>
            </div>
            <div class="card-body">
                <div class="card-text text-left">
                    <% unless @media_collection.description.blank?%>
                        <%= simple_format(@media_collection.description) %>
                    <% end %>
                </div>
            </div>

            <!-- Season ::  -->
            <% season = @seasons.where media_collection_id: @media_collection.id %>
            <% unless season == nil %>
            <% season.each do |season| %>
            <div class="card-body">
                <div class="card-text text-left">
                        <p>
                            <strong>Season #<%= season.season_number %><% unless season.year.blank? %>,</strong> (<%= season.year %><% end %>) 
                        </p>
                    
                    <% unless season.description.blank? %>
                        <p><%= season.description %></p>
                    <% end %>
                    
                    <!-- Episodes :: -->
                    <% episode  = @episodes.where season_id: season.id %>
                    <% unless season == nil %>
                        <div class="ml-3">
                        <% episode.each do |episode| %>
                            <p><%= ('#' + episode.episode_number.to_s) unless episode.episode_number.nil? %> <%= episode.episode_name unless episode.episode_name.empty? %></p>
                            <p><%= ('publication date: ' + episode.publication_date.to_s) unless episode.episode_number.blank? %></p>
                            <p><%= episode.description unless episode.description.empty? %></p>
                            <p><%= link_to episode.description_link, episode.media_link, target: :_blank %></p>
                        <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <% end %>
            <% end %>


            <div class="card-footer text-muted">
                <small><%= @category.name %> (<%= @media_collection.year %>)
                <% if logged_in? %> (<%= @category.points %>pts), 
                <%= @media_collection.points %> individual points, totals : <%= @category.points + @media_collection.points %><% end %>
                </small>
            </div>

        </div>
    </div>
</div>