<div class="container">
    <% @events.each do |event| %>
        <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
            <% unless event.image_url.blank? %>
                <div class="card-header font-italic">
                <%= image_tag event.image_url %>
                </div>
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= link_to event.headline, event_path(event.id), class: "text-success" %></h5>
                <p class="card-text"><%= event.description_short %></p>
                <p>Location: <%= event.location_name %></p>
                <p>Time: <%= event.time.strftime("%A, %B %d %Y at %I:%M %P") %></p>
                <%= link_to 'View', event_path(event), class: "btn btn-outline-success" %>
                
                    <%= link_to 'Edit', edit_event_path(event), class: "btn btn-outline-warning" %>
                
            </div>
            <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(event.created_at) %> ago, 
                edited <%= time_ago_in_words(event.updated_at) %> ago </small>

            </div>
        </div>
        </div>
        </div>
    <% end %>
</div>