<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">

    <%= render 'shared/errors', obj: @event %>
    <%= form_with(model: @event, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>

        <div class="form-group row">
            <%= f.label :image_url, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :image_url, class: "form-control shadow rounded", placeholder: "Promo/Graphic url" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :headline, class: "col-2 col-form-label text-danger" %>
            <div class="col-10">
                <%= f.text_field :headline, class: "form-control shadow rounded", placeholder: "Show headline (Required)" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :description_long, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_area :description_long, rows: 6, class: "form-control shadow rounded", placeholder: "Long Description" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :description_short, class: "col-2 col-form-label text-danger" %>
            <div class="col-10">
                <%= f.text_area :description_short, rows: 2, class: "form-control shadow rounded", placeholder: "Short Description" %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :time, class: "col-2 col-form-label text-danger" %>
            <div class="col-10">
                <%= f.text_field :time, class: "form-control shadow rounded", placeholder: "Year, month, date, 24hr, min, sec" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :location_name, class: "col-2 col-form-label text-danger" %>
            <div class="col-10">
                <%= f.text_field :location_name, class: "form-control shadow rounded", placeholder: "Location name" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :location_url, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :location_url, class: "form-control shadow rounded", placeholder: "Location url" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :location_street, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :location_street, class: "form-control shadow rounded", placeholder: "Street address" %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :location_city, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :location_city, class: "form-control shadow rounded", placeholder: "City" %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :location_state, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :location_state, class: "form-control shadow rounded", placeholder: "State" %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :location_zip, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :location_zip, class: "form-control shadow rounded", placeholder: "zip code" %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :location_country, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :location_country, class: "form-control shadow rounded", placeholder: "USA" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :map_url, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :map_url, class: "form-control shadow rounded", placeholder: "Google Maps url" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :tickets_url, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :tickets_url, class: "form-control shadow rounded", placeholder: "Tickets url" %>
            </div>
        </div>

        
        
        <div class="form-group row justify-content-center">
        <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
        
        <% end %>
        </div>
        <div class="mb-3">
            <%= link_to '[ Cancel and return to event listing ]', events_path, class: "text-info" %>
        </div>

    </div>

</div>