<% if logged_in? %>
<h2 class="text-center mt-4 text-white">
MEDIA LINK :: 
</h2>
<% end %>

<% media_link = @media_links.find_by id: media[0] %>

<div class="row justify-content-md-center">
    <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">

            <% unless media_link.image_url.blank? %>
                <div class="card-header font-italic">
                    <%= image_tag media_link.image_url %>
                </div>
            <% end %>
            <div class="card-header">
                <%= media_link.headline %>
            </div>
            <div class="card-body">
                <div class="card-text text-left">
                    <% unless media_link.description.blank?%>
                        <%= simple_format(media_link.description) %>
                    <% end %>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text text-left">
                    Short media link : <%= link_to media_link.description_link, media_link.media_link, target: :_blank %>
                </div>
            </div>
            <div class="card-body">
                <small>Year: <%= media_link.year %>. 
                Category: <%= media[1] %><% if logged_in? %>  (<%= media[4] %>pts), 
                <%= media_link.points %> individual points, totals : <%= media[4] + media_link.points %><% end %>
                </small>
            </div>

            <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(media_link.created_at) %> ago, 
                edited <%= time_ago_in_words(media_link.updated_at) %> ago </small>
            </div>
        </div>
    </div>
</div>
