<% if logged_in? %>
<h2 class="text-center mt-4 text-white">
MEDIA LINK :: 
</h2>
<% end %>


<!--<div class="row justify-content-md-center"> -->
    <div class="col-4 mt-4">
    

        <div class="card text-center shadow mb-5 bg-white rounded">

<% media_link = @media_links.find_by id: media[0] %>
            <% unless media_link.image_url.blank? %>
                <%= image_tag media_link.image_url, class: 'card-img-top' %>
            <% end %>

            <div class="card-header">
                <%= media_link.headline %>
            </div>
            <div class="card-body">
                <div class="card-text text-left">
                    <% unless media_link.description.blank?%>
                        <%= simple_format(media_link.description) %>
                    <% end %>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text text-left">
                    Short media link : <%= link_to media_link.description_link, media_link.media_link, target: :_blank %>
                </div>
            </div>

            <div class="card-footer text-muted">
                <small><%= media[1] %> (<%= media_link.year %>)
                <% if logged_in? %> (<%= media[4] %>pts), 
                <%= media[3] %> individual points, totals : <%= media[2] %><% end %>
                </small>
            </div>

            </div>
            </div>
<!-- </div> -->
