<% if logged_in? %>
<h2 class="text-center mt-4 text-white">
    MEDIA COLLECTION
</h2>
<% end %>


<!--<div class="row justify-content-md-center"> -->


<div class="col-4 mt-4">

        <div class="card text-center shadow mb-5 bg-white rounded">

            <% current_media_iteration = @media_collections.find(media[0]) %>

            <% unless current_media_iteration.image_url.blank? %>
                <%= image_tag current_media_iteration.image_url, class: 'card-img-top' %>
            <% end %>
            <div class="card-header">
                <strong><%= link_to current_media_iteration.headline, media_collection_path(media[0]) %></strong>
            </div>

            <!-- Season ::  -->
            <% season = @seasons.where media_collection_id: current_media_iteration.id %>
            <% unless season == nil %>
            <div class="card-body">
            <% season.each do |season| %>
                <div class="card-text text-left">
                        <p>
                            <strong>Season #<%= season.season_number %><% unless season.year.blank? %>,</strong> (<%= season.year %><% end %>) 
                        </p>                                        
                    <!-- Episodes :: -->
                    <% episode  = @episodes.where season_id: season.id %>
                    <% unless season == nil %>
                        <div class="ml-1">
                        <ul>
                        <% episode.each do |episode| %>
                            <li><%= link_to ('#' + episode.episode_number.to_s + ' ' + episode.description_link), episode.media_link, target: :_blank %></li>
                        <% end %>
                        </ul>
                        </div>
                    <% end %>
                </div>
                <% end %>
                </div>
            <% end %>


            <div class="card-footer text-muted">
                <small><%= media[1] %> (<%= current_media_iteration.year %>)
                <% if logged_in? %> (<%= media[4] %>pts), 
                <%= media[3] %> individual points, totals : <%= media[2] %><% end %>
                </small>
            </div>

        </div>
        </div>
<!-- </div> -->