<div id="home_wrapper">
<div id="home_container">
    
    <div class="home_content" id="home_content_bio">
    <div class="card" style="width: 24rem;">
    <img class="card-img-top" src='<%=asset_path("bio_large.jpg")%>' alt="Card image cap">
    <div class="card-body">
      
      <p class="card-text">
      <%= @bio.short %>
      </p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Booking Inquiries</a>
    </div>
  </div>
    </div>
    
    <div class="home_content" id="home_content_events">

    <% @events.each do |event| %>

      <div class="card" style="width: 24rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title"><%= event.headline %></h5>
          <p class="card-text"><%= event.short_description %></p>
        </div>
        <div class="card-body">
          <a href="https://g.page/unionhallny?share" class="card-link"><%= event.location %></a>
          <a href="#" class="card-link"><%= event.time %></a>
        </div>
      </div>

      <% end %>


    </div>


</div></div>