<div id="home_wrapper">
  <div id="home_container">
    
    <div class="home_content" id="home_content_bio">
      <div class="card" style="width: 24rem;">
        <img class="card-img-top" src='<%=asset_path("bio_large.jpg")%>' alt="Card image cap">
        <div class="card-body">
      
          <p class="card-text">
          <%= @bio.home_bio %>
          </p>
        </div>
        <div class="card-body text-right">
          <%= render 'inquirie_button' %>
        </div>
      </div>
    </div>
    
    <div class="home_content" id="home_content_events">

    <% @events.each do |event| %>

      <div class="card" style="width: 24rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title black-link-text"><%= link_to event.headline, event_path(event) %></h5>
          <p class="card-text"><%= event.description_short %></p>
        </div>
        <div class="card-body">

        <% unless event.location_url.empty? %>
          <%= link_to event.location_name, event.location_url, class: "card-link" %>
        <% else %>
          <%= event.location_name %>
        <% end %>
      <br />
          <%= event.time.to_formatted_s(:rfc822) %> <%= link_to 'details', event_path(event) %>
        </div>
      </div>

      <% end %>


    </div>


</div></div>