<div id="home_wrapper">
  <div id="home_container">
    
    <div class="home_content" id="home_content_bio">
      <div class="card" style="width: 24rem;">
        <img class="card-img-top" src='<%=asset_path("bio_large.jpg")%>' alt="Card image cap">
        <div class="card-body">
      
          
          <%= simple_format(@bio.home_bio, class: 'card-text') %>
        </div>
        <div class="card-body text-right">
          <%= render 'inquirie_button' %>
        </div>
      </div>
    </div>
    
    <div class="home_content" id="home_content_events">
    <% if @apply_alert %>
      <div class="card" style="width: 24rem;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body text-center">
      <p class="card-text black-link-text" >- special show just added -</p>
        <h3 class="card-title black-link-text"><%= link_to @event_alert.headline, event_path(@alert.event_id) %></h3>
        <% if logged_in? %>
          <p class="card-text black-link-text">Display until :  <%= site_datetime_writeout(@alert.count_down) %></p>
        <% end %>
      </div>
    </div>
    <% end %>
    <% @events.each do |event| %>

      <div class="card" style="width: 24rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title black-link-text"><%= link_to event.headline, event_path(event) %></h5>
          <p class="card-text"><%= event.description_short %></p>
        </div>
        <div class="card-body">

        <% unless event.location_url.empty? %>
          <%= link_to event.location_name, event.location_url, class: "card-link" %>
        <% else %>
          <%= event.location_name %>
        <% end %>
      </div>
      <div class="card-body">
          <span ><%= site_datetime_writeout(event.time) %></span>
          <span class="home__events--details"><%= link_to 'details >', event_path(event) %></span>
        </div>
      </div>

      <% end %>
      




    </div>
  </div>
</div>