<!DOCTYPE html>
<html>
  <head>
    <title>SharronPaul</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column bg-dark">
  <div id="page-content">
    <%= render 'layouts/navigation_alt' %>
    <%= render 'layouts/messages' %>
      <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
